/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
* {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  cursor: url("./image/cursor.png"), auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.greenColor > div {
  color: rgb(22, 203, 22) !important;
}
.redColor > div {
  color: rgb(156, 122, 190) !important;
}
.errorHeading {
  text-transform: uppercase;
  text-align: center;
  margin: 10vmax auto;
  color: rgb(26, 23, 23);
  height: 40vh;
}
